{# users_page/user_info.html #}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='styles/users_page/user_info.css') }}"> {% endblock %}

{% if current_user.is_authenticated %}
  <div class="user-info small-text">
    <div class="flex" aria-live="polite" title="Usuário conectado">
      <div style="margin-left:10px;">
        <div><strong>{{ current_user.username }}</strong></div>
        <div class="small-text text-muted">
          {{ current_user.role.name.title() if current_user.role else 'Sem role' }}
        </div>
      </div>
    </div>

  </div>
{% else %}
  <div class="small-text text-muted">
    Nenhum usuário autenticado.
  </div>
{% endif %}
