:root {
    --primary-color: #8400ff;
    --secondary-color: #cc00ff;
    --dark-primary: #220042;
    --dark-bg: #0a0018;
    --text-color: whitesmoke;
}
.user-info {
    border-radius: 20px;
    background-color: var(--dark-primary);
    display: flex;
    align-items: center;
    padding-left: 5px ;
    gap: 10px; /* espaço entre username e role */
    color: var(--text-color);
}

.user-info .username {
    font-weight: bold;
}

.user-info .role {
    font-size: 0.9em;
    color: var(--secondary-color);
}

.user-info .logout-btn {
    margin-left: auto; /* empurra o link para a direita */
    color: var(--secondary-color);
    text-decoration: none;
}

.user-info .logout-btn:hover {
    color: var(--text-color);
}
